#lxdm {
	background-image: url("bg.png");
	background-repeat: round;
}

#eventbox1 {
	background-color: rgba(0,0,0,0.15);
}

#prompt {
	font: Sans 16;
	color: #646566;
}

#login_entry {
	font: Sans 16;
	border-color: #646566;
}
