#lxdm {
	background-image: url("bg.png");
	background-repeat: round;
}

#eventbox1 {
	background-color: rgba(0,0,0,0.15);
}

#prompt {
	font: Sans 14;
	color: #646566;
}

#login_entry {
	font: Sans 12;
	border-color: #646566;
	border-radius: 0;
}
