Source: cbpp-lxdm-theme
Section: unknown
Priority: optional
Maintainer: Ben Young <computermouth@crunchbangplusplus.org>
Build-Depends: debhelper (>= 13)
Standards-Version: 3.9.8
Homepage: https://github.com/cbpp

Package: cbpp-lxdm-theme
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Theme for lxdm
 Theme and configuration file for lxdm out of the box
